{% extends "base.html" %}
{% load static %}

{% block title %}
    | Categories
{% endblock %}

{% block content %}
    {% if category_posts %}
        <h1>{{ cats }}</h1>

        <ul>
            {% for post in category_posts %}
                <br/>
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <div class="hover hover-1 text-white rounded">
                        <img src="{{ post.header_image.url }}" alt="header_image">
                        <div class="hover-overlay"></div>
                        <div class="hover-1-content px-5 py-4">
                            <h3 class="hover-1-title text-uppercase font-weight-bold mb-0">
                        <span
                                class="font-weight-light">
                            {{ post.title }}
                        </span>
                            </h3>
                            <p class="hover-1-description font-weight-light mb-0">
                                <a href="{% url 'shepherd:article_detail' post.pk %}">View Story</a>
                                {#                        {{ post.snippet }}#}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <br/>
        </ul>
    {% else %}
        <h1>There's nothing here...</h1>
        <img src="{% static 'images/error.gif' %}" alt="Error">
    {% endif %}
{% endblock %}