{% extends "base.html" %}
{% load static %}



{% block title %}
    | Home
{% endblock %}

{% block content %}
    {% for post in object_list %}
        <br/>
        {#        <!-- DEMO 1 -->#}
        {#        <div class="py-5">#}
        {#            <h3 class="font-weight-bold mb-0">Demo 1</h3>#}
        {#            <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
        {#            <div class="row">#}
        <!-- DEMO 1 Item-->
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="hover hover-1 text-white rounded">
                <img src="{{ post.header_image.url }}" alt="header_image">
                <div class="hover-overlay"></div>
                <div class="hover-1-content px-5 py-4">
                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0">
                        <span
                                class="font-weight-light">
                            {{ post.title }}
                        </span>
                    </h3>
                    <p class="hover-1-description font-weight-light mb-0">
                        <a href="{% url 'shepherd:article_detail' post.pk %}">View Story</a>
                        {#                        {{ post.snippet }}#}
                    </p>
                </div>
            </div>
        </div>
        <!-- DEMO 1 Item-->
        {#                <div class="col-lg-6">#}
        {#                    <div class="hover hover-1 text-white rounded"><img#}
        {#                            src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">#}
        {#                        <div class="hover-overlay"></div>#}
        {#                        <div class="hover-1-content px-5 py-4">#}
        {#                            <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"><span#}
        {#                                    class="font-weight-light">Image </span>Caption</h3>#}
        {#                            <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet,#}
        {#                                consectetur adipisicing elit.</p>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#        </div>#}
        {#        </div>#}
    {% endfor %}
    <br/>
    {#    <ul>#}
    {#        {% for post in object_list %}#}
    {#            <!--link the pk for the post associated with the post title-->#}
    {#            <a href="{% url 'shepherd:article_detail' post.pk %}">{{ post.title }}</a>#}
    {#            -#}
    {#            <a href="{% url 'shepherd:category' post.category|slugify %}">{{ post.category }}</a>#}
    {#            -#}
    {#            <!--just post.author uses username -->#}
    {#            <a href="{% url 'members:show_profile_page' post.author.profile.id %}">#}
    {#                {{ post.author.first_name }} {{ post.author.last_name }}</a>#}
    {#            -#}
    {#            {{ post.post_date }}#}
    {#            <small>#}
    {#                {% if user.is_authenticated %}#}
    {#                    {% if user.id == post.author.id %}#}
    {#                        <a href="{% url 'shepherd:update_post' post.pk %}">(Edit)</a>#}
    {#                        <a href="{% url 'shepherd:delete_post' post.pk %}">(Remove)</a>#}
    {#                    {% endif %}#}
    {#                {% endif %}#}
    {#            </small>#}
    {#            <br/>#}
    {#            {{ post.snippet }}#}
    {#            {{ post.body|slice:":200" }}</li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
{% endblock %}