{% extends "base.html" %}
{% load static %}

{% block title %}
    | {{ post.title_tag }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>
        By: {{ post.author.first_name }} {{ post.author.last_name }}
        - {{ post.post_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                -
                <a href="{% url 'shepherd:update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'shepherd:delete_post' post.pk %}">(Remove)</a>
            {% endif %}
        {% endif %}
    </small><br/>

    {#    <hr> <!--horizontal rule-->#}
    <br/>

    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" width=400 height=400 class='rounded' alt="header_image">
    {% endif %}

    <br/><br/>

    {{ post.body|safe }}

    <br/>

    {#    <a href="{% url 'shepherd:home' %}" class="btn btn-secondary">Back</a>#}
    {#    <br/><br/>#}
    <hr>
    <br/>

    <form action="{% url 'shepherd:like_post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if user.is_authenticated %}
            {#            <button class="btn btn-primary" class="upvote" data-story-id="{{ post.pk }}" data-ajax-url={% url 'shepherd:like_post' post.pk %}>#}
            {#                Like#}
            {#            </button>#}
            {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
            {% endif %}
        {% else %}
            <small><a href="{% url "login" %}">Login</a> to like the post!</small>
        {% endif %}
        - {{ total_likes }} Likes
    </form>

    <br/>
    <br/>

    <div class="card mb-3">
        {#        <div class="row g-0">#}
        <div class="row no-gutters">
            <div class="col-md-2">
                {% if post.author.profile.profile_pic %}
                    <!--have to use post.author to access user from members app-->
                    <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="profile_pic">
                {% else %}
                    <img src="{% static 'images/default_profile_pic.gif' %}" class="card-img" alt="profile_pic">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <a href="{% url 'members:show_profile_page' post.author.profile.id %}">
                        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5></a>
                    <p class="small text-muted">
                        {#                <p class="card-text"><small class="text-muted">#}
                        {#                    <a href="{% url 'members:show_profile_page' post.author.profile.id %}"> Profile Page</a>#}
                        {% if post.author.profile.website_url %}
                            <a href="{{ post.author.profile.website_url }}">Website</a>
                        {% endif %}
                        {% if post.author.profile.facebook_url %}
                            <a href="{{ post.author.profile.facebook_url }}"> | Facebook</a>
                        {% endif %}

                        {% if post.author.profile.twitter_url %}
                            <a href="{{ post.author.profile.twitter_url }}"> | Twitter</a>
                        {% endif %}

                        {% if post.author.profile.instagram_url %}
                            <a href="{{ post.author.profile.instagram_url }}"> | Instagram</a>
                        {% endif %}

                        {% if post.author.profile.pinterest_url %}
                            <a href="{{ post.author.profile.pinterest_url }}"> | Pinterest</a>
                        {% endif %}
                        {#                </small>#}
                    </p>
                    <p class="card-text">{{ post.author.profile.bio }}</p>
                    {#                    <p class="card-text"><small class="text-muted">{{ post.author.profile.last_login }}</small></p>#}
                </div>
            </div>
        </div>
    </div>
    {#class='rounded-circle'#}

    <br/>

    <h1>Comments</h1>
    {% if not post.comments.all %}
        No Comments Yet <a href="{% url 'shepherd:add_comment' post.pk %}">Add One</a>
    {% else %}
        <a href="{% url 'shepherd:add_comment' post.pk %}">Add Comment</a>
        <br/><br/>
        {% for comment in post.comments.all %}
            <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
            <br/>
            {{ comment.body }}
            <br/><br/>
        {% endfor %}
    {% endif %}
    <br/><br/><br/>
{% endblock %}